html,body{
    width: 100%;
    height: 100%;
}
/* 引入字体图标库 */
@font-face {
    font-family: 'iconfont';
    src: url('./font/iconfont.eot');
    src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('./font/iconfont.woff2') format('woff2'),
        url('./font/iconfont.woff') format('woff'),
        url('./font/iconfont.ttf') format('truetype'),
        url('./font/iconfont.svg#iconfont') format('svg');
}
/* 定义iconfont样式 */
.iconfont {
    font-family: "iconfont" !important;
    font-size: .25rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flx{
    display: flex;
}

input[type=checkbox]{
    width: .32rem;
    height: .32rem;
}
/* 最外层容器 */
.warp{
    width: 100%;
    height: 100%;
    flex-direction: column;
}

/* header */
.hd{
    position: relative;
    height: 1.25rem;
    width: 100%;
    background: darkslateblue;
    text-align: center;
    line-height: 1.25rem;
    color: #fff;
    font-size: .4rem;
}
.back{
    position: absolute;
    top: 0;bottom: 0; margin: auto;
    left: 0.3125rem;
    color: #fff;
    font-size: .4rem;
}
/* box */
.box{
    flex: 1;
    overflow-y: auto;
    background: lightgray;
}
.goodsCard{
    width: 100%;
    height: 6.5rem;
    background: #fff;
    margin: .3125rem 0;
}
.gc-tit{
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    text-indent: .3125rem;
    font-size: .35rem;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
}
.gc-detail{
    width: 100%;
    height: 3.7rem;
    box-sizing: border-box;
    padding: 0.078125rem;
}
.gc-img{
    flex: 1;
    background: chartreuse;
}
.gc-ctt{
    flex: 3;
    box-sizing: border-box;
    padding-left: .078125rem;
    overflow: hidden;
}
.gc-txt{
    font-size: .3rem;
    line-height: .5rem;
}
.price{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    padding:0 .078125rem;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    align-items: center;
}
.pri{
    color: red;
    font-size: .35rem;
}
.dele{
    margin-right: 0.15625rem;
    border:1px solid lightgray;
    width: .6rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
}
.total{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    padding:0 .078125rem;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    align-items: center;
}
.tot{
    color: red;
    font-size: .35rem;
}
.tot-btn{
    width: 1.8rem;
    height: .6rem;
}
.reduce , .num , .add{
    flex: 1;
    line-height: .6rem;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid lightgrey;
}
/* footer */
.ft{
    width: 100%;
    height: 1.25rem;
    background:#fff;
    text-align: center;
}
.checkAll{
    flex: 1;
    line-height: 1.25rem;
    font-size: .35rem;
}
.totalPrice{
    flex: 3;
    line-height: 1.25rem;
    color: red;
    font-size: .4rem;
}
.pay{
    flex: 2;
    line-height: 1.25rem;
    background: orangered;
    color: #fff;
    font-size: .35rem;
}